#book{
    height:88%;
    width:88%;
    position:absolute;
    top:10%;
    left: 178px;
}

#form{
    position: absolute;
    top:45%;
    left:1000px;
}

#form, #submit{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

#left-arrow, #right-arrow{
    position: absolute;
    width: 20%;
    height: 20%;
    top: 45%;

}

#left-arrow{
    left: -50px;
}

#right-arrow{
    left: 600px;
}


h1{
    position: absolute;
    left: 60%;
    top: 10%;
    font-size: 50px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #30323D;
    padding-left: 20%;
}

li {
  float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 60px;
    text-decoration: none;
}
  
li a:hover{
    background-color:#EF3054    ;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #321915;
}

.study1{
    width: 30%;
    height: 30%;
}

.study2{
    width: 22%;
    height: 22%;
}

.study3{
    width: 23%;
    height: 23%;
}

.study1, .study2, .study3{
    padding:45px;
}